<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Family Financial Management</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!-- Animation library for notifications   -->
    <link href="/css/animate.min.css" rel="stylesheet" th:href="@{/css/animate.min.css}"/>
    <!--  Light Bootstrap Table core CSS    -->
    <link href="/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" th:href="@{/css/light-bootstrap-dashboard.css}"/>
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/css/demo.css" rel="stylesheet" th:href="@{/css/demo.css}"/>
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/css/pe-icon-7-stroke.css" rel="stylesheet" th:href="@{/css/pe-icon-7-stroke.css}"/>
    <script src="/js/echarts.min.js" th:href="@{/js/echarts.min.js}" ></script>
    <script type="text/javascript">
        function selectMonth(){
            var month = document.getElementById("month").value;
            window.location.href ="/dashboard?selectMonth=" + month;
        }
    </script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

        <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/toMain" class="simple-text">
                    FFM
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>分析</p>
                    </a>
                </li>
                <li>
                    <a href="/bill">
                        <i class="pe-7s-note2"></i>
                        <p>账单</p>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="pe-7s-news-paper"></i>
                        <p>贷款</p>
                    </a>
                </li>
                <li>
                    <a href="icons.html">
                        <i class="pe-7s-science"></i>
                        <p>投资</p>
                    </a>
                </li>
                <li>
                    <a href="/user">
                        <i class="pe-7s-user"></i>
                        <p>个人</p>
                    </a>
                </li>
                <li class="active-pro">
                    <a href="upgrade.html">
                        <i class="pe-7s-rocket"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-search"></i>
                                <p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                <p>你好</p>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <p th:text="${session.USER_SESSION.getUsername()}">
                                    Dropdown
                                    <b class="caret"></b>
                                </p>

                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/user">个人中心</a></li>
                                <li><a href="#">修改密码</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="/logout">退出账户</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/logout">
                                <p>退出</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">

                            <div class="header clear" >
                                <h4 class="title">月份收支</h4>
                                <select id="month" onchange="selectMonth()">
                                    <option value="">选择月份</option>
                                    <option value="1">1月</option>
                                    <option value="2">2月</option>
                                    <option value="3">3月</option>
                                    <option value="4">4月</option>
                                    <option value="5">5月</option>
                                    <option value="6">6月</option>
                                    <option value="7">7月</option>
                                    <option value="8">8月</option>
                                    <option value="9">9月</option>
                                    <option value="10">10月</option>
                                    <option value="11">11月</option>
                                    <option value="12">12月</option>
                                </select>
                            </div>
                            <div class="content">

                                <div id="mainPie" style="height: 305px;width: 100%;"></div>
                                <script type="text/javascript">
                                    // 基于准备好的dom，初始化echarts实例
                                    var myChart = echarts.init(document.getElementById('mainPie'));
                                    window.onresize = function (){
                                        myChart.resize();
                                    };

                                    // 指定图表的配置项和数据
                                    option = {
                                        color:['#87CB16','#FF9500','#FF4A55','#1DC7EA'],
                                        series: [
                                            {
                                                type: 'pie',
                                                data: [
                                                    {
                                                        value: [[${bmi}]],
                                                        name: '收入'
                                                    },
                                                    {
                                                        value: [[${bmo}]],
                                                        name: '支出'
                                                    },
                                                    {
                                                        value: 0,
                                                        name: '贷款'
                                                    },
                                                    {
                                                        value: 0,
                                                        name: '投资'
                                                    }
                                                ]
                                            }
                                        ]
                                    };

                                    // 使用刚指定的配置项和数据显示图表。
                                    myChart.setOption(option);
                                </script>

                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-success"></i> 收入
                                        <i class="fa fa-circle text-warning"></i> 支出
                                        <i class="fa fa-circle text-danger"></i> 贷款
                                        <i class="fa fa-circle text-info"></i> 投资
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">个人收支</h4>
                                <p class="category">24小时内支出情况</p>
                            </div>
                            <div class="content">


                                <div id="chartHours" class="ct-chart"></div>

                                <script>
                                    var myChart = echarts.init(document.getElementById('mainPie'));
                                    window.onresize = function (){
                                        myChart.resize();
                                    };
                                    option = {
                                        xAxis: {
                                            data: ['周一', '周二', '周三', '周四', '周五','周六','周日']
                                        },
                                        yAxis: {},
                                        series: [
                                            {
                                                data: [10, 22, 28, 43, 49],
                                                type: 'line',
                                                stack: 'x',
                                                areaStyle: {}
                                            },
                                            {
                                                data: [10, 22, 28, 43, 49],
                                                type: 'line',
                                                stack: 'x',
                                                areaStyle: {}
                                            },
                                            {
                                                data: [10, 22, 28, 43, 49],
                                                type: 'line',
                                                stack: 'x',
                                                areaStyle: {}
                                            },
                                            {
                                                data: [5, 4, 3, 5, 10],
                                                type: 'line',
                                                stack: 'x',
                                                areaStyle: {}
                                            }
                                        ]
                                    };
                                </script>

                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-success"></i> 收入
                                        <i class="fa fa-circle text-warning"></i> 支出
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6" style="width: 100%">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">年度收支</h4>
                                <p class="category">一年内收支情况柱状图</p>
                            </div>
                            <div class="content">


                                <div id="mainBar" style="width: 100%;height:400px;"></div>
                                <script type="text/javascript">
                                // 基于准备好的dom，初始化echarts实例
                                var myChart = echarts.init(document.getElementById('mainBar'));

                                window.onresize = function (){
                                    myChart.resize();
                                };


                                //指定图表的配置项和数据
                                var option = {
                                tooltip: {},
                                legend: {
                                data: ['支出','收入','贷款','投资']
                                },
                                xAxis: {
                                data: ['一月', '二月', '三月', '四月', '五月', '六月','七月','八月', '九月','十月','十一月', '十二月']
                                },
                                yAxis: {},
                                series: [
                                {
                                name: '支出',
                                type: 'bar',
                                data: [[${byout}]],
                                    color: '#FF9500'
                                },
                                    {
                                        name: '收入',
                                        type: 'bar',
                                        data: [[${byin}]],
                                        color:'#87CB16'
                                    },
                                    {
                                        name: '贷款',
                                        type: 'bar',
                                        data: 0,
                                        color:'#FF4A55'
                                    }
                                    ,{
                                        name: '投资',
                                        type: 'bar',
                                        data: 0,
                                        color:'#1DC7EA'
                                    }
                                ]
                                };


                                // 使用刚指定的配置项和数据显示图表。
                                myChart.setOption(option);
                                </script>


                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-success"></i> 收入
                                        <i class="fa fa-circle text-warning"></i> 支出
                                        <i class="fa fa-circle text-danger"></i> 贷款
                                        <i class="fa fa-circle text-info"></i> 投资
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-check"></i> Data information certified
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="toMain">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

<!--   Core JS Files   -->
<script src="/js/jquery.3.2.1.min.js" type="text/javascript" th:href="@{/js/jquery.3.2.1.min.js}"></script>
<script src="/js/bootstrap.min.js" type="text/javascript" th:href="@{/js/bootstrap.min.js}"></script>
<!--  Notifications Plugin    -->
<script src="/js/bootstrap-notify.js" th:href="@{/js/bootstrap-notify.js}"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="/js/light-bootstrap-dashboard.js?v=1.4.0" th:href="@{/js/light-bootstrap-dashboard.js}"></script>
<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->


</html>
