<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Family Financial Management</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />

  <!-- Bootstrap core CSS     -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <!--  Light Bootstrap Table core CSS    -->
  <link href="/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" th:href="@{/css/light-bootstrap-dashboard.css}"/>
  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="/css/demo.css" rel="stylesheet" th:href="@{/css/demo.css}"/>
  <!--     Fonts and icons     -->
<!--  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">-->
  <link href="/css/pe-icon-7-stroke.css" rel="stylesheet" th:href="@{/css/pe-icon-7-stroke.css}"/>


</head>
<body style="padding-top: 30px;">


<div class="text-center">
  <form action="/loan" class="form-horizontal">
    <span>
     <input name="where"  placeholder="输入需要搜索的内容"/>
<!--      <input  name="msg" placeholder="输入需要搜索的备注"/>-->
    <input type="checkbox" value="true"  id="me" name="me"> 只看我</input>
      <select class="form-select-button" name="status">
        <option value="">全部</option>
        <option value="0">未还款</option>
        <option value="1">已还款</option>
        <option value="2">已逾期</option>
        <option value="3">全部还清</option>
      </select>
    <button type="submit" class="btn active btn-success btn-fill">搜索</button>
  </span>
  </form>
</div>


    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="header clearfix">
                <h4 class="title pull-left">借贷信息</h4>
                <button type="button" class="btn btn-info btn-fill pull-right" title="新建" data-toggle="modal"
                        data-target="#addModal"> 新增
                </button>
              </div>
              <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                  <thead>
                    <th style="text-align: center">id</th>
                    <th style="text-align: center">用户名</th>
                    <th style="text-align: center">金额</th>
                    <th style="text-align: center">去向</th>
                    <th style="text-align: center">年利率</th>
                    <th style="text-align: center">开始时间</th>
                    <th style="text-align: center">结束时间</th>
                    <th style="text-align: center">应还</th>
                    <th style="text-align: center">备注</th>
                    <th style="text-align: center">状态</th>
                  </thead>
                  <tbody style="text-align: center">
                  <tr th:each="loan:${page.list}">
                    <td>[[${loan.id}]]</td>
                    <td>[[${loan.user.username}]]</td>
                    <td>[[${loan.money}]]</td>
                    <td>[[${loan.where}]]</td>
                    <td>[[${loan.rates}]]</td>
                    <td>[[${loan.startDate}]]</td>
                    <td>[[${loan.endDate}]]</td>
                    <td>[[${loan.payBack}]]</td>
                    <td>[[${loan.msg}]]</td>
                    <td th:if="${loan.status} eq 0">未还款</td>
                    <td th:if="${loan.status} eq 1">已还款</td>
                    <td th:if="${loan.status} eq 2">逾期</td>
                    <td th:if="${loan.status} eq 3">全部还清</td>
                    <td th:if="${loan.user.username} eq ${session.USER_SESSION.getUsername()}">
                      <button type="button" class="btn btn-warning btn-fill" data-toggle="modal"
                              data-target="#editModal" th:onclick="'javascript:findLoanById_edit('+${loan.id}+');'">修改</button>
                      <button type="button" class="btn btn-danger btn-fill"
                              th:onclick="'javascript:deleteLoan('+${loan.id}+');'">删除</button>
                    </td>
                    <td th:if="${loan.user.username} ne ${session.USER_SESSION.getUsername()}">
                      <button disabled="disabled" type="button" class="btn btn-warning btn-fill">修改</button>
                      <button disabled="disabled" type="button" class="btn btn-danger btn-fill">删除</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="pagination" style="display: block" class="pagination">
        <ul class="pagination" style="margin-left: 45%">
          <li th:each="i:${#numbers.sequence(1,page.pages)}" >
            <a th:href="'/loan?where='+${search.where}+'&status='+${search.status}+'&me='+${me}+'&pageNum='+${i}" th:text="${i}"></a>
          </li>
        </ul>
      </div>
    </div>





<!-- 添加账单的模态框 -->
<div class="modal fade" id="addModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>添加借贷信息</h3>
      </div>
      <form id="addLoan" class="form-horizontal">
        <div class="modal-body">
          <div class="form-group">
            <label for="amoney" class="col-sm-2 control-label">金额</label>
            <div class="col-sm-10">
              <input class="form-control" id="amoney" name="money">
            </div>
          </div>
          <div class="form-group">
            <label for="awhere" class="col-sm-2 control-label">去向</label>
            <div class="col-sm-10">
              <input class="form-control" id="awhere" name="where">
            </div>
          </div>
          <div class="form-group">
            <label for="arates" class="col-sm-2 control-label">年利率</label>
            <div class="col-sm-10">
              <input class="form-control" id="arates" name="rates">
            </div>
          </div>
          <div class="form-group">
            <label for="astart" class="col-sm-2 control-label">开始时间</label>
            <div class="col-sm-10">
              <input class="form-control" id="astart" type="date" name="startDate">
            </div>
          </div>
          <div class="form-group">
            <label for="aend" class="col-sm-2 control-label">时间</label>
            <div class="col-sm-10">
              <input class="form-control" id="aend" name="endDate" type="date">
            </div>
          </div>
          <div class="form-group">
            <label for="apayBack" class="col-sm-2 control-label">应还</label>
            <div class="col-sm-10">
              <input class="form-control" id="apayBack" name="payBack" placeholder="如不输入则后台自动计算">
            </div>
          </div>
          <div class="form-group">
            <label for="amsg" class="col-sm-2 control-label">备注</label>
            <div class="col-sm-10">
              <input class="form-control" id="amsg" name="msg">
            </div>
          </div>
          <div class="form-group">
            <label for="astatus" class="col-sm-2 control-label">状态</label>
            <div class="col-sm-10">
              <select id="astatus" class="form-control" name="status">
                <option value="0">未还款</option>
                <option value="1">已还款</option>
                <option value="2">已逾期</option>
                <option value="3">全部还清</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success btn-fill" data-dismiss="modal" aria-hidden="true" onclick="addLoan()">保存
          </button>
          <button class="btn btn-default btn-fill" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
      </form>
    </div>
  </div>
</div>










<!-- 修改的模态框 -->
<div class="modal fade" id="editModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>修改借贷信息</h3>
      </div>
      <form id="editLoan" class="form-horizontal">
        <div class="modal-body">
          <!--id,不展示在页面-->
          <span><input type="hidden" id="eid" name="id"></span>

              <div class="form-group">
                <label for="emoney" class="col-sm-2 control-label">金额</label>
                <div class="col-sm-10">
                  <input class="form-control" id="emoney" name="money">
                </div>
              </div>
            <div class="form-group">
              <label for="ewhere" class="col-sm-2 control-label">去向</label>
              <div class="col-sm-10">
                <input class="form-control" id="ewhere" name="where">
              </div>
            </div>
            <div class="form-group">
              <label for="erates" class="col-sm-2 control-label">利率</label>
              <div class="col-sm-10">
                <input class="form-control" id="erates" name="rates">
              </div>
            </div>
            <div class="form-group">
              <label for="estart" class="col-sm-2 control-label">开始时间</label>
              <div class="col-sm-10">
                <input class="form-control" id="estart" name="startDate" required="required" type="date">
              </div>
            </div>
          <div class="form-group">
            <label for="eend" class="col-sm-2 control-label">结束时间</label>
            <div class="col-sm-10">
              <input class="form-control" id="eend" name="endDate" required="required" type="date">
            </div>
          </div>
            <div class="form-group">
              <label for="epayBack" class="col-sm-2 control-label">应还</label>
              <div class="col-sm-10">
                <input class="form-control" id="epayBack" name="payBack">
              </div>
            </div>
            <div class="form-group">
              <label for="emsg" class="col-sm-2 control-label">备注</label>
              <div class="col-sm-10">
                <input class="form-control" id="emsg" name="msg">
              </div>
            </div>
          <div class="form-group">
            <label for="estatus" class="col-sm-2 control-label">状态</label>
            <div class="col-sm-10">
              <select id="estatus" class="form-control" name="status">
                <option value="0">未还款</option>
                <option value="1">已还款</option>
                <option value="2">已逾期</option>
                <option value="3">全部还清</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success btn-fill" data-dismiss="modal" aria-hidden="true" onclick="editLoan()">保存
          </button>
          <button class="btn btn-default btn-fill" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
      </form>
    </div>
  </div>
</div>


</body>


<script src="/js/my.js" type="text/javascript" th:href="@{/js/my.js}"></script>

<!--   Core JS Files   -->
<script src="/js/jquery.3.2.1.min.js" type="text/javascript" th:href="@{/js/jquery.3.2.1.min.js}"></script>
<script src="/js/bootstrap.min.js" type="text/javascript" th:href="@{/js/bootstrap.min.js}"></script>
<!--  Notifications Plugin    -->
<script src="/js/bootstrap-notify.js" th:href="@{/js/bootstrap-notify.js}"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="/js/light-bootstrap-dashboard.js?v=1.4.0" th:href="@{/js/light-bootstrap-dashboard.js}"></script>
<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->

</html>