<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Family Financial Management</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!--  Light Bootstrap Table core CSS    -->
    <link href="/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" th:href="@{/css/light-bootstrap-dashboard.css}"/>
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/css/demo.css" rel="stylesheet" th:href="@{/css/demo.css}"/>
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/pe-icon-7-stroke.css" rel="stylesheet" th:href="@{/css/pe-icon-7-stroke.css}"/>


</head>
<body style="padding-top: 30px;">


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">个人信息</h4>
                            </div>
                            <div class="content">
                                <form action="/editMessage">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>id</label>
                                                <input type="text" name="id" readonly="readonly" class="form-control" placeholder="Company" th:value="${userMsg.id}">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>用户名</label>
                                                <input type="text" disabled class="form-control" placeholder="Username" th:value="${user.username}">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">电子邮箱</label>
                                                <input type="email" name="email" class="form-control" placeholder="Email" th:value="${userMsg.email}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>姓</label>
                                                <input type="text" class="form-control" placeholder="Company" name="firstname" th:value="${userMsg.firstname}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>名</label>
                                                <input type="text" class="form-control" placeholder="Last Name" name="lastname" th:value="${userMsg.lastname}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>地址</label>
                                                <input type="text" th:value="${userMsg.address}" class="form-control" placeholder="Home Address" name="address">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>个性签名</label>
                                                <input type="text" class="form-control" th:value="${userMsg.msg}" placeholder="Here can be your description" name="msg">
                                            </div>
                                        </div>
                                    </div>
                                    <button onclick="editMessage()" class="btn btn-info btn-fill pull-right">更新个人信息</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                    <img class="avatar border-gray" src="@{/avatar/{{userMsg.img}}}" th:src="@{userImg}"/>

                                      <h4 class="title" th:text="${user.username}">Mike Andrew</h4>
                                         <small th:text="${userMsg.email}">michael24</small>
                                </div>
                                <p style="margin-top: 20px" class="description text-center" th:text="${userMsg.msg}"> "Lamborghini Mercy <br>
                                                    Your chick she so thirsty <br>
                                                    I'm in that two seat Lambo"
                                </p>
<!--                                <button data-toggle="modal"-->
<!--                                    data-target="#editImgModal"> 修改头像</button>-->

                            </div>
                            <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- 修改头像的模态框 -->
        <div class="modal fade" id="editImgModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: #42d0ed">
                        <h3>修改头像</h3>
                    </div>
                    <form id="editImg">
                        <div class="modal-body">
                            <div class="form-group" style="padding: 20px 5px">
                                <label for="efile" class="col-sm-2 control-label">上传图片</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="efile" name="file" type="file">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-info btn-fill" data-dismiss="modal" aria-hidden="true" onclick="editImg()">保存
                            </button>
                            <button class="btn btn-default btn-fill" data-dismiss="modal" aria-hidden="true">关闭</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>




</body>

<script src="/js/my.js" type="text/javascript" th:href="@{/js/my.js}"></script>
<!--   Core JS Files   -->
<script src="/js/jquery.3.2.1.min.js" type="text/javascript" th:href="@{/js/jquery.3.2.1.min.js}"></script>
<script src="/js/bootstrap.min.js" type="text/javascript" th:href="@{/js/bootstrap.min.js}"></script>
<!--  Notifications Plugin    -->
<script src="/js/bootstrap-notify.js" th:href="@{/js/bootstrap-notify.js}"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="/js/light-bootstrap-dashboard.js?v=1.4.0" th:href="@{/js/light-bootstrap-dashboard.js}"></script>
<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->

</html>
