<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Family Financial Management</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!-- Animation library for notifications   -->
    <link href="/css/animate.min.css" rel="stylesheet" th:href="@{/css/animate.min.css}"/>
    <!--  Light Bootstrap Table core CSS    -->
    <link href="/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" th:href="@{/css/light-bootstrap-dashboard.css}"/>
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/css/demo.css" rel="stylesheet" th:href="@{/css/demo.css}"/>
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/css/pe-icon-7-stroke.css" rel="stylesheet" th:href="@{/css/pe-icon-7-stroke.css}"/>

    <script>
        function editPwd(){
            var pwd = $('#pwd').val();
            var pwd2 = $('#pwd2').val();
            var url = "editPassword";
            if (pwd == pwd2){
                $.get(url,$("#editPwd").serialize(),function (data){
                    alert(data);
                })
            }else {
                alert("两次输入的密码不一样,请重新输入");
            }

        }
    </script>

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

        <!--

            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag

        -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/toMain" class="simple-text">
                    FFM
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>分析</p>
                    </a>
                </li>
                <li>
                    <a href="/bill">
                        <i class="pe-7s-note2"></i>
                        <p>账单</p>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="pe-7s-news-paper"></i>
                        <p>贷款</p>
                    </a>
                </li>
                <li>
                    <a href="icons.html">
                        <i class="pe-7s-science"></i>
                        <p>投资</p>
                    </a>
                </li>
                <li  class="active">
                    <a href="/user">
                        <i class="pe-7s-user"></i>
                        <p>个人</p>
                    </a>
                </li>
                <li class="active-pro">
                    <a href="upgrade.html">
                        <i class="pe-7s-rocket"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">USER</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-search"></i>
                                <p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                <p>你好</p>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <p th:text="${session.USER_SESSION.getUsername()}">
                                    Dropdown
                                    <b class="caret"></b>
                                </p>

                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/user">个人中心</a></li>
                                <li><a data-toggle="modal"
                                       data-target="#editPwdModal" >修改密码</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="/logout">退出账户</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/logout">
                                <p>退出</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">个人信息</h4>
                            </div>
                            <div class="content">
                                <form action="/editMessage">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>id</label>
                                                <input type="text" name="id" readonly="readonly" class="form-control" placeholder="Company" th:value="${userMsg.id}">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>用户名</label>
                                                <input type="text" disabled class="form-control" placeholder="Username" th:value="${user.username}">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">电子邮箱</label>
                                                <input type="email" name="email" class="form-control" placeholder="Email" th:value="${userMsg.email}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>姓</label>
                                                <input type="text" class="form-control" placeholder="Company" name="firstname" th:value="${userMsg.firstname}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>名</label>
                                                <input type="text" class="form-control" placeholder="Last Name" name="lastname" th:value="${userMsg.lastname}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>地址</label>
                                                <input type="text" th:value="${userMsg.address}" class="form-control" placeholder="Home Address" name="address">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>个性签名</label>
                                                <input type="text" class="form-control" th:value="${userMsg.msg}" placeholder="Here can be your description" name="msg">
                                            </div>
                                        </div>
                                    </div>
                                    <button onclick="editMessage()" class="btn btn-info btn-fill pull-right">更新个人信息</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="image">
                                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                    <img class="avatar border-gray" src="/img/face-0.jpg" th:src="@{/img/face-0.jpg}"/>

                                      <h4 class="title" th:text="${user.username}">Mike Andrew</h4>
                                         <small th:text="${userMsg.email}">michael24</small>
                                </div>
                                <p style="margin-top: 20px" class="description text-center" th:text="${userMsg.msg}"> "Lamborghini Mercy <br>
                                                    Your chick she so thirsty <br>
                                                    I'm in that two seat Lambo"
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>

    </div>
</div>





<!-- 修改密码的模态框 -->
<div class="modal fade" id="editPwdModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: #42d0ed">
                <h3>修改密码</h3>
            </div>
            <form id="editPwd">
                <div class="modal-body">
                    <table id="addTab" class="table">
                        <tr>
                            <td>旧密码:
                                <input type="password" class="form-control" name="oldPwd" id="oldPwd"></td>
                        </tr>
                        <tr>
                            <td>新密码:<input type="password" class="form-control" name="pwd" id="pwd"></td>
                        </tr>
                        <tr>
                            <td>确认新密码:<input type="password" class="form-control" id="pwd2"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info btn-fill" data-dismiss="modal" aria-hidden="true" onclick="editPwd()">保存
                    </button>
                    <button class="btn btn-default btn-fill" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>


</body>


<!--   Core JS Files   -->
<script src="/js/jquery.3.2.1.min.js" type="text/javascript" th:href="@{/js/jquery.3.2.1.min.js}"></script>
<script src="/js/bootstrap.min.js" type="text/javascript" th:href="@{/js/bootstrap.min.js}"></script>
<!--  Notifications Plugin    -->
<script src="/js/bootstrap-notify.js" th:href="@{/js/bootstrap-notify.js}"></script>
<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="/js/light-bootstrap-dashboard.js?v=1.4.0" th:href="@{/js/light-bootstrap-dashboard.js}"></script>
<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->

</html>
