<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/login.css" th:href="@{/css/login.css}">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        html {
            height: 100%;
        }
        body {
            height: 100%;
        }
    </style>

<!--    <script>-->
<!--        function register() {-->
<!--            let url = "/register";-->
<!--            var un = document.getElementById("Rusername").value;-->
<!--            var pw = document.getElementById("Rpassword").value;-->
<!--            if (un != null && pw != null && un != ""  && pw != ""){-->
<!--                $.get(url,$("#register").serialize())-->
<!--            }else {-->
<!--                alert("用户名或密码不能为空！");-->
<!--            }-->

<!--        }-->
<!--    </script>-->
</head>
<body>
<div class="container">
    <div class="login-wrapper">
        <div class="header">账户注册</div>
        <div class="form-wrapper">
            <form id="register" action="/register" method="post">
                <input type="text" id="Rusername" name="username" placeholder="username" class="input-item">
                <input type="password" id="Rpassword" name="password" placeholder="password" class="input-item">
                <span style="color: #ff0000" th:text="${msg}"></span>
                <input type="submit" class="btn">
            </form>
        </div>
        <div class="msg">
            已有账号？
            <a href="/toLogin">点我登录</a>
        </div>
    </div>
</div>
</body>
</html>