<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lin.ffm.dao.LoanDao">

    <resultMap id="loanResult" type="com.lin.ffm.pojo.Loan">
        <id column="id" property="id"/>
        <result column="userId" property="userId"/>
        <result column="money" property="money"/>
        <result column="where" property="where"/>
        <result column="rates" property="rates"/>
        <result column="startDate" property="startDate"/>
        <result column="endDate" property="endDate"/>
        <result column="payBack" property="payBack"/>
        <result column="msg" property="msg"/>
        <result column="status" property="status"/>
        <association property="user" javaType="com.lin.ffm.pojo.User">
            <id column="uid" property="id"></id>
            <result column="username" property="username"></result>
            <result column="houseId" property="houseId"></result>
        </association>
    </resultMap>


    <select id="findLoans" parameterType="com.lin.ffm.pojo.Loan" resultMap="loanResult">
        select l.*,u.id as uid,u.username
        from loan l
        join user u on l.userId = u.id
        <where>
            <if test="where != null and where != '' and where != 'null'">
                and l.where like concat('%',#{where},'%')
            </if>
            <if test="money != null and money != ''">
                or money = #{money}
            </if>
            <if test="where != null and where != '' and where != 'null'">
                or msg like concat('%',#{where},'%')
            </if>
            <if test="userId != null and userId != ''">
                and userId = #{userId}
            </if>
            <if test="user.houseId != null">
                and u.houseId = #{user.houseId}
            </if>
            <if test="status != null and status != '' and status != 'null'">
                and l.status = #{status}
            </if>
        </where>
    </select>

    <update id="editLoan" parameterType="com.lin.ffm.pojo.Loan">
        update Loan
        <set>
            <if test=" where != null and where != null">
                ,loan.where=#{where}
            </if>
            <if test="money != null and money != ''">
                ,money=#{money}
            </if>
            <if test="rates != null and rates != ''">
                ,rates=#{rates}
            </if>
            <if test="startDate != null and startDate != ''">
                ,startDate=#{startDate}
            </if>
            <if test="payBack != null and payBack != ''">
                ,payBack=#{payBack}
            </if>
            <if test="msg != null and msg != ''">
                ,msg=#{msg}
            </if>
            <if test="endDate != null and endDate != ''">
                ,endDate=#{endDate}
            </if>
            <if test="status != null and status != ''">
                ,status=#{status}
            </if>
        </set>
        <where>
            id= #{id}
        </where>
    </update>

</mapper>


