<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lin.ffm.dao.UserDao">
    <update id="editUser" parameterType="com.lin.ffm.pojo.User" >
        update user
        <set>
            <if test=" username != null and username != ''">
                ,username=#{username}
            </if>
            <if test=" password != null and password != ''">
                ,password=#{password}
            </if>
            <if test=" role != null and role != ''">
                ,role=#{role}
            </if>
            <if test=" msgId != null and msgId != ''">
                ,msgId=#{msgId}
            </if>
            <if test=" houseId != null and houseId != ''">
                ,houseId=#{houseId}
            </if>
            <if test=" status != null and status != ''">
                ,status=#{status}
            </if>
            <where>
                id = #{id}
            </where>
        </set>
    </update>
    
    <select id="findAllUser" parameterType="com.lin.ffm.pojo.User" resultType="com.lin.ffm.pojo.User">
        select * from user
<!--        <where>-->
<!--            <if test=" username != null and username != '' and username != 'null'">-->
<!--                and username like concat('%',#{username},'%')-->
<!--            </if>-->
<!--            <if test=" role != null and role != '' and role != 'null'">-->
<!--                and role=#{role}-->
<!--            </if>-->
<!--            <if test=" houseId != null">-->
<!--                and houseId=#{houseId}-->
<!--            </if>-->
<!--        </where>-->
    </select>
</mapper>